# Brevo API Key (Get from https://app.brevo.com/settings/keys/api)
BREVO_API_KEY=xkeysib-your-key-here

# sender email (Must be a verified sender in Brevo)
BREVO_SENDER_EMAIL=hello@boostifyusa.com

# Your email (where you want to receive the contact form submissions)
DESTINATION_EMAIL=hello@boostifyusa.com

# Server Port (Optional, defaults to 3001)
PORT=3001

# Google ReCAPTCHA v3 (Get keys from https://www.google.com/recaptcha/admin)
# Select "v3" (Invisible)
VITE_RECAPTCHA_SITE_KEY=your_v3_site_key_here
RECAPTCHA_SECRET_KEY=your_v3_secret_key_here
